* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caros';
}

body {
    font-family: 'Caros';
    background-color: #f2f5f8;
}

@font-face {
    font-family: 'Caros';
    src: url('./Caros.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}