
.body{
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        
}
.book_a_hostel_room{
    background-color: #fff;
    width: 80%;
    margin: 0 10%;
    padding: 0 5%;
    padding-block: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 
}
.heading{
    text-align:center ;
}

.forms{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    
}

.forms input{
    height: 50px;
    border: 2px solid #6158e5;
    border-radius: 10px;
    padding-left: 2%;
}
.forms select{
    height: 50px;
    border: 2px solid #6158e5;
    border-radius: 10px;
}
.forms input:focus{
    outline: none;
}

.forms select:focus{
    outline: none;
}
.forms button{
    height: 50px;
    border: none;
background-color: #6158e5;
    color: #fff;
    border-radius: 10px;
}

.footer{
    position: absolute;
    bottom: 0;
}

  .full_message {
      background-color: lightpink;
      color:red;
      padding: 0 2%;
      padding-block: 10px;
      margin-top: 20px;
  }

  /* Add this to your existing CSS file or create a new one */

  .full_message {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
  }

  .full_message.hidden {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
  }

  .title h1{
    text-align: center;
    color: #6158e5;
    margin-bottom: 15px;
  }

  #selectElement{
    height: 50px !important;
  }

  .ss-main {
      display: flex;
      flex-direction: row;
      position: relative;
      user-select: none;
      color: var(--ss-font-color);
      min-height: var(--ss-main-height);
      width: 100%;
      padding: var(--ss-spacing-s);
      cursor: pointer;
      border: 2px solid #6158e5;
    border-radius: 10px;      
    background-color:#fff;
      outline: none;
      box-sizing: border-box;
      height: 50px;
      transition: background-color var(--ss-animation-timing);
      overflow: hidden;
      box-shadow: none;
  }
  .ss-main input:focus{
    outline: none;
  }