.register_all {
    background-color: #fff;
    width: 90%;
    margin: 0 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-block: 50px;
    margin-block: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.forms_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.forms {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.forms input {
    height: 50px;
    width: 95%;
    border: 2px solid #6158e5;
    border-radius: 5px;
}

.forms select{
    height: 50px;
        width: 95%;
        border: 2px solid #6158e5;
        border-radius: 5px;
}
.forms button{
background-color: #6158e5;
border: none;
    color: #fff;
    height: 60px;
    border-radius: 10px;
   width: 32%;
}
.profile_all {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#img-preview {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-block: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#file-input {
    display: none;
}

.label {
    cursor: pointer;
    color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #6158e5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
   

}

@media only screen and (max-width: 1110px) {
    .forms_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
        .forms button {
           
            width: 48%;
        }
}

@media only screen and (max-width: 910px) {
    .forms_grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .forms{
        padding: 0 3%;
    }
    .forms input{
        width: 100%;
    }

        .forms select {
            width: 100%;
        }
        .forms button {
    
            width: 100%;
        }
}