h3{
    color: #6158e5;
}
.points{
    margin-top: 40px;
    border: 1px solid #6158e5;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.points h5{
    color: #6158e5;
  
}
.points li{
    font-style: italic;
    color: #060240;
}